<!-- Default Statcounter code for indiansInRichmondBC https://indiansinrichmondbc.github.io -->
<script type="text/javascript">
  var sc_project=10578534;
  var sc_invisible=0;
  var sc_security="38baf28c";
  var scJsHost = "https://";
  document.write("<sc"+"ript type='text/javascript' src='" +
  scJsHost+
  "statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="real time web analytics" href="https://statcounter.com/" target="_blank" rel="noopener"><img class="statcounter" src="https://c.statcounter.com/10578534/0/38baf28c/0/" alt="real time web analytics" referrerpolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->
