<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        <ul class="contactus" style="padding: 0; margin: 0; list-style: none;">
          <li style="display: inline-block; margin-right: 10px; vertical-align: middle;">
            <a href="https://www.facebook.com/groups/900644660267654" target="_blank" class="btn btn-primary">
              <i class="fab fa-facebook"></i> <strong>Facebook</strong>
            </a>
          </li>
          <li style="display: inline-block; margin-right: 10px; vertical-align: middle;">
            <a href="https://chat.whatsapp.com/GnJPe7uFS2eCZqMkEG1EK5" target="_blank" class="btn btn-success">
              <i class="fab fa-whatsapp"></i> <strong>WhatsApp</strong>
            </a>
          </li>
          <li style="display: inline-block; margin-right: 10px; vertical-align: middle;">
            <a href="mailto:adichourasiya@gmail.com" class="btn btn-info">
              <i class="far fa-envelope"></i> <strong>Email</strong>
            </a>
          </li>
        </ul>
      </header>      
        <section>
        {{ content }}
        </section>
      <footer>
        <p><small><p>This site is made possible by our sponsors and community members.</p></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>