<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
        <a href="https://facebook.com/events/916655266659575/"> <img src="{{site.logo | relative_url}}" alt="Logo" /> </a>
        {% endif %}
        <ul class="contactus" style="list-style: none;">
          <li style="padding-bottom: 10px;"><a href="https://www.facebook.com/groups/900644660267654" target="_blank" class="btn btn-primary"><img src="/assets/img/facebook.svg" alt="Facebook Icon" width="24" height="24" style="vertical-align: middle;"> <strong style="vertical-align: middle;">Facebook</strong></a></li>
          <li style="padding-bottom: 10px;"><a href="https://chat.whatsapp.com/GnJPe7uFS2eCZqMkEG1EK5" target="_blank" class="btn btn-success"><img src="/assets/img/whatsapp.svg" alt="WhatsApp Icon" width="24" height="24" style="vertical-align: middle;"> <strong style="vertical-align: middle;">WhatsApp</strong></a></li>
          <li style="padding-bottom: 10px;"><a href="https://www.instagram.com/indiansinrichmondbc" target="_blank" class="btn btn-success"><img src="/assets/img/instagram.svg" alt="Instagram Icon" width="24" height="24" style="vertical-align: middle;"> <strong style="vertical-align: middle;">Instagram</strong></a></li>
          <li style="padding-bottom: 10px;"><a href="https://www.facebook.com/groups/900644660267654/events" target="_blank" class="btn btn-info"><img src="/assets/img/calendar.svg" alt="Events Icon" width="24" height="24" style="vertical-align: middle;"> <strong style="vertical-align: middle;">Events</strong></a></li>
       </ul>                 
      </header>      
        <section>
        {{ content }}
        </section>
      <footer>
      <p><small><p>Made possible by our sponsors and community.</p></small></p>
        <div style="text-align: center;">
                  <!-- Default Statcounter code for indiansInRichmondBC https://indiansinrichmondbc.github.io -->
          <script type="text/javascript">
            var sc_project=10578534; 
            var sc_invisible=0; 
            var sc_security="38baf28c"; 
            var scJsHost = "https://";
            document.write("<sc"+"ript type='text/javascript' src='" +
            scJsHost+
            "statcounter.com/counter/counter.js'></"+"script>");
            </script>
            <noscript><div class="statcounter"><a title="real time web
            analytics" href="https://statcounter.com/"
            target="_blank"><img class="statcounter"
            src="https://c.statcounter.com/10578534/0/38baf28c/0/"
            alt="real time web analytics"
            referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
            <!-- End of Statcounter Code -->
          </div>        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
